<?php
    $logosrc = Mage::getStoreConfig('design/header/logo_src_small');
    $logoalt = Mage::getStoreConfig('design/header/logo_alt');
    $para = $this->getChildHtml();
    if (strlen($para) > 185){
        $para = substr($para, 0, 186);
    }
?>

<div class="links">
    <div class="logo">
        <img src="<?php echo $this->getSkinUrl($logosrc); ?>" alt="<?php echo $logoalt ?>" />
    </div>
    <div class="content">
        <?php echo $para ?>

    </div>
    <span><a href="#">Continue reading >></a></span>
</div>

