<div style="margin: 0" class="links contact-column">
    <div class="block-title"><strong><span>Contact Us</span></strong></div>
    <ul class="contact">
        <li id="address"><a href="#"><img src="<?php echo $this->getSkinUrl('images/address.png') ?>"> <?php echo $this->getChildHtml('address')?></a></li>
        <li><a href="#"><img src="<?php echo $this->getSkinUrl('images/mail.png') ?>"> <?php echo $this->getChildHtml('email')?></a></li>
        <li id="phone"><a href="#"><img src="<?php echo $this->getSkinUrl('images/phone.png') ?>"> <?php echo $this->getChildHtml('phone')?></a></li>
    </ul>
</div>